{% extends 'admin.html.twig' %}

{% block title %}Modifier une page{% endblock %}

{% block body %}

<section class="bloc1">
    <h2>Modifier une page</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#content-page">Contenu</a></li>
        <li><a href="#content-seo">SEO</a></li>
    </ul>
    {{ form_start(form) }}
        <div id="content-page" class="tab-pane active">
            {{ form_row(form.article_title, { value: articleName }) }}
            {{ form_row(form.article_slug, { value: articleSlug }) }}
            {{ form_row(form.article_content, { value: dataFile }) }}
        </div>
        <div id="content-seo" class="tab-pane">
            {{ form_row(form.article_metatitle, { value: articleMetaTitle }) }}
            {{ form_row(form.article_metadesc, { value: articleMetaDesc }) }}
        </div>
        {{ form_row(form.article_submit) }}
    {{ form_end(form) }}
</section>

{% endblock %}